/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [IdRegistro]
      ,[IdUsuario]
      ,[IdItem]
      ,[Latitud]
      ,[Longitud]
      ,[TanqueConductor]
      ,[TanquePasajero]
      ,[Kilometraje]
      ,[Velocidad]
      ,[BotonPanico]
      ,[Fecha]
      ,[Hora]
  FROM [dbo].[Registro]